// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as GenerateAPI from './generate';
import {
  Generate,
  GenerateAdvancedParams,
  GenerateAdvancedResponse,
  GenerateStandardParams,
  GenerateStandardResponse,
  GenerateVideoRequest,
} from './generate';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Ads extends APIResource {
  generate: GenerateAPI.Generate = new GenerateAPI.Generate(this._client);

  /**
   * Retrieves a list of all video advertisements previously generated by the user in
   * the AI Ad Studio.
   *
   * @example
   * ```ts
   * const response = await client.ai.ads.listGenerated();
   * ```
   */
  listGenerated(
    query: AdListGeneratedParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AdListGeneratedResponse> {
    return this._client.get('/ai/ads', { query, ...options });
  }

  /**
   * Polls the real-time status of an asynchronous video generation operation. Once
   * complete ('done'), the response includes a temporary, signed URL to access and
   * download the generated video asset.
   *
   * @example
   * ```ts
   * const videoOperationStatus =
   *   await client.ai.ads.retrieveStatus(
   *     'op-video-gen-12345-abcde',
   *   );
   * ```
   */
  retrieveStatus(operationID: string, options?: RequestOptions): APIPromise<VideoOperationStatus> {
    return this._client.get(path`/ai/ads/operations/${operationID}`, options);
  }
}

export interface VideoOperationStatus {
  /**
   * A descriptive status message.
   */
  message: string;

  /**
   * The unique identifier for the video generation operation.
   */
  operationId: string;

  /**
   * Estimated completion percentage (0-100).
   */
  progressPercentage: number;

  /**
   * Current status of the video generation job.
   */
  status: 'queued' | 'generating' | 'rendering' | 'done' | 'error';

  /**
   * Error message if the operation failed.
   */
  errorMessage?: string | null;

  /**
   * Temporary, signed URL to a preview image/thumbnail of the video.
   */
  previewImageUri?: string | null;

  /**
   * Temporary, signed URL to the generated video asset (available when status is
   * 'done').
   */
  videoUri?: string | null;
}

export interface AdListGeneratedResponse {
  /**
   * The maximum number of items returned in the current page.
   */
  limit: number;

  /**
   * The number of items skipped before the current page.
   */
  offset: number;

  /**
   * The total number of items available across all pages.
   */
  total: number;

  data?: Array<VideoOperationStatus>;

  /**
   * The offset for the next page of results, if available. Null if no more pages.
   */
  nextOffset?: number | null;
}

export interface AdListGeneratedParams {
  /**
   * Maximum number of items to return in a single page.
   */
  limit?: number;

  /**
   * Number of items to skip before starting to collect the result set.
   */
  offset?: number;

  /**
   * Filter ads by their generation status.
   */
  status?: 'queued' | 'generating' | 'done' | 'error';
}

Ads.Generate = Generate;

export declare namespace Ads {
  export {
    type VideoOperationStatus as VideoOperationStatus,
    type AdListGeneratedResponse as AdListGeneratedResponse,
    type AdListGeneratedParams as AdListGeneratedParams,
  };

  export {
    Generate as Generate,
    type GenerateVideoRequest as GenerateVideoRequest,
    type GenerateAdvancedResponse as GenerateAdvancedResponse,
    type GenerateStandardResponse as GenerateStandardResponse,
    type GenerateAdvancedParams as GenerateAdvancedParams,
    type GenerateStandardParams as GenerateStandardParams,
  };
}
