// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';

export class Generate extends APIResource {
  /**
   * Submits a highly customized request to generate a video ad, allowing
   * fine-grained control over artistic style, aspect ratio, voiceover, background
   * music, target audience, and call-to-action elements for professional-grade
   * productions.
   *
   * @example
   * ```ts
   * const response = await client.ai.ads.generate.advanced({
   *   aspectRatio: '16:9',
   *   lengthSeconds: 30,
   *   prompt:
   *     "A professional ad showcasing 's corporate finance solutions, targeting business owners. Highlight security and efficiency.",
   *   style: 'Minimalist',
   *   audienceTarget: 'corporate',
   *   brandAssets: [
   *     'https://demobank.com/assets/corporate_logo.png',
   *   ],
   *   callToAction: {
   *     text: 'Learn more at DemoBank.com/business',
   *     url: 'https://demobank.com/business',
   *     displayTimeSeconds: 5,
   *   },
   *   voiceoverStyle: 'male_professional',
   *   voiceoverText:
   *     ': Your business, powered by intelligent finance.',
   * });
   * ```
   */
  advanced(body: GenerateAdvancedParams, options?: RequestOptions): APIPromise<GenerateAdvancedResponse> {
    return this._client.post('/ai/ads/generate/advanced', { body, ...options });
  }

  /**
   * Submits a request to generate a high-quality video ad using the advanced Veo 2.0
   * generative AI model. This is an asynchronous operation, suitable for standard ad
   * content creation.
   *
   * @example
   * ```ts
   * const response = await client.ai.ads.generate.standard({
   *   aspectRatio: '16:9',
   *   lengthSeconds: 15,
   *   prompt:
   *     "A captivating ad featuring a young entrepreneur using 's AI tools to grow their startup. Focus on innovation and ease of use.",
   *   style: 'Cinematic',
   *   brandColors: ['#0000FF', '#FFD700'],
   * });
   * ```
   */
  standard(body: GenerateStandardParams, options?: RequestOptions): APIPromise<GenerateStandardResponse> {
    return this._client.post('/ai/ads/generate', { body, ...options });
  }
}

export interface GenerateVideoRequest {
  /**
   * Desired aspect ratio for the video (e.g., 16:9 for landscape, 9:16 for
   * portrait).
   */
  aspectRatio: '16:9' | '9:16' | '1:1';

  /**
   * Desired length of the video ad in seconds.
   */
  lengthSeconds: number;

  /**
   * Textual description for the video ad generation, guiding the AI on content and
   * narrative.
   */
  prompt: string;

  /**
   * Desired visual style for the video.
   */
  style: 'Cinematic' | 'Documentary' | 'Animated' | 'Explainer' | 'Minimalist' | 'Vibrant';

  /**
   * Optional: Array of hex color codes to integrate into the video's branding and
   * aesthetic.
   */
  brandColors?: Array<string> | null;

  /**
   * Optional: Specific keywords to emphasize in the visual or textual content
   * generated by AI.
   */
  keywords?: Array<string> | null;
}

export interface GenerateAdvancedResponse {
  /**
   * Estimated time until advanced video generation is complete. May be longer than
   * standard generation.
   */
  estimatedCompletionTimeSeconds?: number;

  /**
   * The unique identifier for the advanced video generation operation.
   */
  operationId?: string;
}

export interface GenerateStandardResponse {
  /**
   * Estimated time until video generation is complete.
   */
  estimatedCompletionTimeSeconds?: number;

  /**
   * The unique identifier for the video generation operation.
   */
  operationId?: string;
}

export interface GenerateAdvancedParams {
  /**
   * Desired aspect ratio for the video (e.g., 16:9 for landscape, 9:16 for
   * portrait).
   */
  aspectRatio: '16:9' | '9:16' | '1:1';

  /**
   * Desired length of the video ad in seconds.
   */
  lengthSeconds: number;

  /**
   * Textual description for the video ad generation, guiding the AI on content and
   * narrative.
   */
  prompt: string;

  /**
   * Desired visual style for the video.
   */
  style: 'Cinematic' | 'Documentary' | 'Animated' | 'Explainer' | 'Minimalist' | 'Vibrant';

  /**
   * Optional: Target audience for the ad, influencing tone and visuals.
   */
  audienceTarget?: 'general' | 'young_adults' | 'seniors' | 'entrepreneurs' | 'corporate' | null;

  /**
   * Optional: Desired background music theme.
   */
  backgroundMusic?: 'upbeat_corporate' | 'calming_acoustic' | 'dramatic_orchestral' | 'no_music' | null;

  /**
   * Optional: URLs to brand assets (e.g., logos) to be incorporated by AI.
   */
  brandAssets?: Array<string> | null;

  /**
   * Optional: Array of hex color codes to integrate into the video's branding and
   * aesthetic.
   */
  brandColors?: Array<string> | null;

  /**
   * Optional: Details for a prominent call-to-action at the end of the video.
   */
  callToAction?: GenerateAdvancedParams.CallToAction | null;

  /**
   * Optional: Specific keywords to emphasize in the visual or textual content
   * generated by AI.
   */
  keywords?: Array<string> | null;

  /**
   * If true, AI will generate subtitles for the video, primarily for voiceover text.
   */
  subtitlesEnabled?: boolean;

  /**
   * Optional: Desired style/gender for the AI voiceover.
   */
  voiceoverStyle?: 'male_professional' | 'female_friendly' | 'neutral_authoritative' | null;

  /**
   * Optional: Text content for an AI-generated voiceover.
   */
  voiceoverText?: string | null;
}

export namespace GenerateAdvancedParams {
  /**
   * Optional: Details for a prominent call-to-action at the end of the video.
   */
  export interface CallToAction {
    /**
     * Duration in seconds to display the CTA at the end of the video.
     */
    displayTimeSeconds?: number;

    /**
     * Text for the Call-to-Action button/overlay.
     */
    text?: string;

    /**
     * URL for the Call-to-Action.
     */
    url?: string;
  }
}

export interface GenerateStandardParams {
  /**
   * Desired aspect ratio for the video (e.g., 16:9 for landscape, 9:16 for
   * portrait).
   */
  aspectRatio: '16:9' | '9:16' | '1:1';

  /**
   * Desired length of the video ad in seconds.
   */
  lengthSeconds: number;

  /**
   * Textual description for the video ad generation, guiding the AI on content and
   * narrative.
   */
  prompt: string;

  /**
   * Desired visual style for the video.
   */
  style: 'Cinematic' | 'Documentary' | 'Animated' | 'Explainer' | 'Minimalist' | 'Vibrant';

  /**
   * Optional: Array of hex color codes to integrate into the video's branding and
   * aesthetic.
   */
  brandColors?: Array<string> | null;

  /**
   * Optional: Specific keywords to emphasize in the visual or textual content
   * generated by AI.
   */
  keywords?: Array<string> | null;
}

export declare namespace Generate {
  export {
    type GenerateVideoRequest as GenerateVideoRequest,
    type GenerateAdvancedResponse as GenerateAdvancedResponse,
    type GenerateStandardResponse as GenerateStandardResponse,
    type GenerateAdvancedParams as GenerateAdvancedParams,
    type GenerateStandardParams as GenerateStandardParams,
  };
}
