// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as InsightsAPI from '../../transactions/insights';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request({
   *     auditScope: 'all_transactions',
   *     endDate: '2024-06-30',
   *     regulatoryFrameworks: ['AML', 'PCI-DSS'],
   *     startDate: '2024-01-01',
   *   });
   * ```
   */
  request(body: AuditRequestParams, options?: RequestOptions): APIPromise<AuditRequestResponse> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(auditID: string, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export interface AuditRequestResponse {
  /**
   * Unique identifier for the initiated audit.
   */
  auditId?: string;

  /**
   * Current status of the audit.
   */
  status?: 'initiated' | 'processing' | 'completed' | 'failed';
}

export interface AuditRetrieveReportResponse {
  /**
   * Date and time when the audit report was generated.
   */
  auditDate: string;

  /**
   * Unique identifier for the audit report.
   */
  auditId: string;

  /**
   * Detailed findings, observations, and recommendations.
   */
  findings: Array<AuditRetrieveReportResponse.Finding>;

  /**
   * An overall score (0-100) indicating the level of compliance.
   */
  overallComplianceScore: number;

  /**
   * The date range covered by the audit.
   */
  periodCovered: AuditRetrieveReportResponse.PeriodCovered;

  /**
   * AI-generated actionable recommendations to improve compliance.
   */
  recommendedActions: Array<InsightsAPI.AIInsight>;

  /**
   * Current status of the audit generation.
   */
  status: 'initiated' | 'processing' | 'completed' | 'failed';

  /**
   * A high-level summary of the audit findings.
   */
  summary: string;

  /**
   * Specific adherence status for each regulatory framework audited.
   */
  regulatoryAdherence?: { [key: string]: string } | null;
}

export namespace AuditRetrieveReportResponse {
  export interface Finding {
    description?: string;

    relatedEntities?: Array<string>;

    severity?: 'Low' | 'Medium' | 'High' | 'Critical';

    type?: 'finding' | 'observation' | 'recommendation';
  }

  /**
   * The date range covered by the audit.
   */
  export interface PeriodCovered {
    endDate?: string;

    startDate?: string;
  }
}

export interface AuditRequestParams {
  /**
   * The scope of the compliance audit.
   */
  auditScope:
    | 'all_transactions'
    | 'corporate_cards'
    | 'specific_accounts'
    | 'international_payments'
    | 'user_onboarding';

  /**
   * The end date for the audit period (inclusive).
   */
  endDate: string;

  /**
   * List of regulatory frameworks against which to audit.
   */
  regulatoryFrameworks: Array<'AML' | 'KYC' | 'PCI-DSS' | 'GDPR' | 'PSD2' | 'SOX' | 'CCPA'>;

  /**
   * The start date for the audit period (inclusive).
   */
  startDate: string;

  /**
   * Any additional notes or specific areas of focus for the audit.
   */
  additionalNotes?: string | null;
}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
