// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as InsightsAPI from '../../transactions/insights';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request({
   *     auditScope: 'all_transactions',
   *     endDate: '2024-06-30',
   *     regulatoryFrameworks: ['AML', 'PCI-DSS'],
   *     startDate: '2024-01-01',
   *   });
   * ```
   */
  request(body: AuditRequestParams, options?: RequestOptions): APIPromise<AuditRequestResponse> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(auditID: string, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export interface AuditRequestResponse {
  /**
   * Unique identifier for the initiated audit.
   */
  auditId?: string;

  /**
   * Current status of the audit.
   */
  status?: 'initiated' | 'processing' | 'completed' | 'failed';
}

export interface AuditRetrieveReportResponse {
  /**
   * Date when the audit report was generated.
   */
  auditDate: string;

  /**
   * Unique identifier for the compliance audit.
   */
  auditId: string;

  /**
   * Detailed list of findings, including observations, recommendations, and
   * potential violations.
   */
  findings: Array<AuditRetrieveReportResponse.Finding>;

  /**
   * Overall compliance score (0-100), indicating adherence to rules.
   */
  overallComplianceScore: number;

  /**
   * The date range covered by the audit.
   */
  periodCovered: AuditRetrieveReportResponse.PeriodCovered;

  /**
   * Current status of the audit.
   */
  status: 'initiated' | 'processing' | 'completed' | 'failed';

  /**
   * A summary of the audit findings.
   */
  summary: string;

  /**
   * AI-generated actionable recommendations to improve compliance.
   */
  recommendedActions?: Array<InsightsAPI.AIInsight> | null;
}

export namespace AuditRetrieveReportResponse {
  export interface Finding {
    /**
     * Detailed description of the finding.
     */
    description: string;

    /**
     * Severity of the finding.
     */
    severity: 'Low' | 'Medium' | 'High' | 'Critical';

    /**
     * Type of finding (e.g., observation, recommendation).
     */
    type: 'observation' | 'recommendation' | 'potential_violation';

    /**
     * AI's confidence score or relevance score for this finding.
     */
    aiScore?: number | null;

    /**
     * Reference to specific regulatory requirement, if applicable.
     */
    regulatoryReference?: string | null;

    /**
     * List of IDs of entities (transactions, cards, etc.) related to this finding.
     */
    relatedEntities?: Array<string> | null;
  }

  /**
   * The date range covered by the audit.
   */
  export interface PeriodCovered {
    /**
     * End date of the audit period.
     */
    endDate: string;

    /**
     * Start date of the audit period.
     */
    startDate: string;
  }
}

export interface AuditRequestParams {
  /**
   * The scope of the audit (e.g., all transactions, specific accounts).
   */
  auditScope: 'all_transactions' | 'corporate_cards' | 'global_payments' | 'specific_accounts';

  /**
   * The end date for the audit period (inclusive).
   */
  endDate: string;

  /**
   * List of regulatory frameworks or internal policies to audit against.
   */
  regulatoryFrameworks: Array<'AML' | 'PCI-DSS' | 'GDPR' | 'CCPA' | 'SOX' | 'internal_policy'>;

  /**
   * The start date for the audit period (inclusive).
   */
  startDate: string;

  /**
   * Optional: List of specific account IDs to include in the audit.
   */
  specificAccounts?: Array<string> | null;
}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
