// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as InsightsAPI from '../../transactions/insights';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request({
   *     auditScope: 'all_transactions',
   *     endDate: '2024-06-30',
   *     regulatoryFrameworks: ['AML', 'PCI-DSS'],
   *     startDate: '2024-01-01',
   *   });
   * ```
   */
  request(body: AuditRequestParams, options?: RequestOptions): APIPromise<AuditRequestResponse> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(auditID: unknown, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export interface AuditRequestResponse {
  /**
   * Unique identifier for the initiated audit.
   */
  auditId?: unknown;

  /**
   * Current status of the audit.
   */
  status?: 'initiated' | 'processing' | 'completed' | 'failed';
}

export interface AuditRetrieveReportResponse {
  /**
   * Timestamp when the audit report was generated.
   */
  auditDate: unknown;

  /**
   * Unique identifier for the compliance audit.
   */
  auditId: unknown;

  /**
   * Detailed findings, observations, and recommendations.
   */
  findings: Array<AuditRetrieveReportResponse.Finding>;

  /**
   * Overall compliance score (0-100), higher is better.
   */
  overallComplianceScore: unknown;

  /**
   * The period covered by this audit report.
   */
  periodCovered: AuditRetrieveReportResponse.PeriodCovered;

  /**
   * AI-generated actionable recommendations to improve compliance.
   */
  recommendedActions: Array<InsightsAPI.AIInsight>;

  /**
   * Current status of the audit.
   */
  status: 'processing' | 'completed' | 'failed';

  /**
   * A high-level summary of the audit findings.
   */
  summary: unknown;
}

export namespace AuditRetrieveReportResponse {
  export interface Finding {
    description?: unknown;

    /**
     * IDs of entities related to this finding (e.g., transaction IDs).
     */
    relatedEntities?: Array<unknown> | null;

    severity?: 'Low' | 'Medium' | 'High' | 'Critical';

    type?: 'finding' | 'observation' | 'recommendation';
  }

  /**
   * The period covered by this audit report.
   */
  export interface PeriodCovered {
    endDate?: unknown;

    startDate?: unknown;
  }
}

export interface AuditRequestParams {
  /**
   * The scope of the audit (e.g., all transactions, specific accounts).
   */
  auditScope: 'all_transactions' | 'specific_accounts' | 'specific_cards' | 'all_users';

  /**
   * End date for the audit period (inclusive).
   */
  endDate: unknown;

  /**
   * List of regulatory frameworks against which to audit.
   */
  regulatoryFrameworks: Array<'AML' | 'KYC' | 'PCI-DSS' | 'GDPR' | 'CCPA' | 'SOX' | 'OFAC'>;

  /**
   * Start date for the audit period (inclusive).
   */
  startDate: unknown;

  /**
   * Optional: Any additional context or specific areas of concern for the AI.
   */
  additionalContext?: unknown;
}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
