// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as InsightsAPI from '../../transactions/insights';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';

export class Chat extends APIResource {
  /**
   * Fetches the full conversation history with the Quantum AI Advisor for a given
   * session or user.
   *
   * @example
   * ```ts
   * const response =
   *   await client.ai.advisor.chat.retrieveHistory();
   * ```
   */
  retrieveHistory(
    query: ChatRetrieveHistoryParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ChatRetrieveHistoryResponse> {
    return this._client.get('/ai/advisor/chat/history', { query, ...options });
  }

  /**
   * Initiates or continues a sophisticated conversation with Quantum, the AI
   * Advisor. Quantum can provide advanced financial insights, execute complex tasks
   * via an expanding suite of intelligent tools, and learn from user interactions to
   * offer hyper-personalized guidance.
   *
   * @example
   * ```ts
   * const response = await client.ai.advisor.chat.sendMessage({
   *   message:
   *     'Can you analyze my recent spending patterns and suggest areas for saving, focusing on my dining expenses?',
   *   sessionId: 'session-quantum-xyz-789-alpha',
   * });
   * ```
   */
  sendMessage(body: ChatSendMessageParams, options?: RequestOptions): APIPromise<ChatSendMessageResponse> {
    return this._client.post('/ai/advisor/chat', { body, ...options });
  }
}

export interface ChatRetrieveHistoryResponse {
  /**
   * The maximum number of items returned in the current page.
   */
  limit: unknown;

  /**
   * The number of items skipped before the current page.
   */
  offset: unknown;

  /**
   * The total number of items available across all pages.
   */
  total: unknown;

  data?: Array<ChatRetrieveHistoryResponse.Data>;

  /**
   * The offset for the next page of results, if available. Null if no more pages.
   */
  nextOffset?: unknown;
}

export namespace ChatRetrieveHistoryResponse {
  export interface Data {
    /**
     * The textual content of the message.
     */
    content: unknown;

    /**
     * Role of the speaker (user, assistant, or tool interaction).
     */
    role: 'user' | 'assistant' | 'tool_call' | 'tool_response';

    /**
     * Timestamp of the message.
     */
    timestamp: unknown;

    /**
     * If role is 'tool_call', details of the tool function called by the AI.
     */
    functionCall?: Data.FunctionCall;

    /**
     * If role is 'tool_response', the output from the tool function.
     */
    functionResponse?: Data.FunctionResponse;
  }

  export namespace Data {
    /**
     * If role is 'tool_call', details of the tool function called by the AI.
     */
    export interface FunctionCall {
      args?: unknown;

      name?: unknown;
    }

    /**
     * If role is 'tool_response', the output from the tool function.
     */
    export interface FunctionResponse {
      name?: unknown;

      response?: unknown;
    }
  }
}

export interface ChatSendMessageResponse {
  /**
   * The active conversation session ID.
   */
  sessionId: unknown;

  /**
   * A list of tool functions the AI wants the system to execute.
   */
  functionCalls?: Array<ChatSendMessageResponse.FunctionCall> | null;

  /**
   * A list of proactive AI insights or recommendations generated by Quantum.
   */
  proactiveInsights?: Array<InsightsAPI.AIInsight> | null;

  /**
   * Indicates if the AI's response implies that the user needs to take a specific
   * action (e.g., provide more input, confirm a tool call).
   */
  requiresUserAction?: unknown;

  /**
   * The AI Advisor's textual response.
   */
  text?: unknown;
}

export namespace ChatSendMessageResponse {
  export interface FunctionCall {
    /**
     * Unique ID for this tool call, used to link with `functionResponse`.
     */
    id?: unknown;

    /**
     * Key-value pairs representing the arguments to pass to the tool function.
     */
    args?: unknown;

    /**
     * The name of the tool function to call.
     */
    name?: unknown;
  }
}

export interface ChatRetrieveHistoryParams {
  /**
   * Maximum number of items to return in a single page.
   */
  limit?: unknown;

  /**
   * Number of items to skip before starting to collect the result set.
   */
  offset?: unknown;

  /**
   * Optional: Filter history by a specific session ID. If omitted, recent
   * conversations will be returned.
   */
  sessionId?: unknown;
}

export interface ChatSendMessageParams {
  /**
   * Optional: The output from a tool function that the AI previously requested to be
   * executed.
   */
  functionResponse?: ChatSendMessageParams.FunctionResponse;

  /**
   * The user's textual input to the AI Advisor.
   */
  message?: unknown;

  /**
   * Optional: Session ID to continue a conversation. If omitted, a new session is
   * started.
   */
  sessionId?: unknown;
}

export namespace ChatSendMessageParams {
  /**
   * Optional: The output from a tool function that the AI previously requested to be
   * executed.
   */
  export interface FunctionResponse {
    /**
     * The name of the tool function for which this is a response.
     */
    name?: unknown;

    /**
     * The JSON output from the execution of the tool function.
     */
    response?: unknown;
  }
}

export declare namespace Chat {
  export {
    type ChatRetrieveHistoryResponse as ChatRetrieveHistoryResponse,
    type ChatSendMessageResponse as ChatSendMessageResponse,
    type ChatRetrieveHistoryParams as ChatRetrieveHistoryParams,
    type ChatSendMessageParams as ChatSendMessageParams,
  };
}
