// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Offers extends APIResource {
  /**
   * Retrieves a list of personalized, pre-approved loan offers generated by the AI
   * based on the user's financial profile and credit health.
   *
   * @example
   * ```ts
   * const loanOffers =
   *   await client.lending.offers.listPreApproved();
   * ```
   */
  listPreApproved(options?: RequestOptions): APIPromise<OfferListPreApprovedResponse> {
    return this._client.get('/lending/offers/pre-approved', options);
  }
}

export interface LoanOffer {
  /**
   * AI's score indicating how well this offer is tailored to the user's financial
   * profile.
   */
  aiPersonalizationScore: number;

  /**
   * The principal amount of the loan offer.
   */
  amount: number;

  /**
   * Annual interest rate of the loan.
   */
  interestRate: number;

  /**
   * True if this is a pre-approved offer, false if it's a response to an
   * application.
   */
  isPreApproved: boolean;

  /**
   * Unique identifier for the loan offer.
   */
  offerId: string;

  /**
   * Type of loan being offered.
   */
  offerType: 'personal_loan' | 'business_loan' | 'credit_line' | 'mortgage' | 'auto_loan' | 'microloan';

  /**
   * Date when the offer expires.
   */
  expirationDate?: string | null;

  /**
   * Estimated monthly payment.
   */
  monthlyPayment?: number | null;

  /**
   * Any upfront origination fees.
   */
  originationFee?: number;

  /**
   * Repayment term in months. Null for credit lines.
   */
  repaymentTermMonths?: number | null;

  /**
   * URL to the full terms and conditions of the loan offer.
   */
  termsAndConditionsUrl?: string | null;

  /**
   * Total amount repayable over the loan term (principal + interest + fees).
   */
  totalRepayable?: number | null;
}

export type OfferListPreApprovedResponse = Array<LoanOffer>;

export declare namespace Offers {
  export { type LoanOffer as LoanOffer, type OfferListPreApprovedResponse as OfferListPreApprovedResponse };
}
