// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Offers extends APIResource {
  /**
   * Retrieves a list of personalized, pre-approved loan offers generated by the AI
   * based on the user's financial profile and credit health.
   *
   * @example
   * ```ts
   * const response =
   *   await client.lending.offers.listPreApproved();
   * ```
   */
  listPreApproved(
    query: OfferListPreApprovedParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<OfferListPreApprovedResponse> {
    return this._client.get('/lending/offers/pre-approved', { query, ...options });
  }
}

export interface LoanOffer {
  /**
   * The offered loan amount.
   */
  amount: unknown;

  /**
   * Date the offer expires.
   */
  expirationDate: unknown;

  /**
   * Annual interest rate offered (as a percentage).
   */
  interestRate: unknown;

  /**
   * Indicates if this is a pre-approved offer.
   */
  isPreApproved: unknown;

  /**
   * Unique identifier for the loan offer.
   */
  offerId: unknown;

  /**
   * Type of loan being offered.
   */
  offerType: 'personal_loan' | 'auto_loan' | 'mortgage' | 'credit_line' | 'microloan';

  /**
   * AI's score for how well this offer is personalized to the user (0-1).
   */
  aiPersonalizationScore?: unknown;

  /**
   * Estimated monthly payment (if applicable).
   */
  monthlyPayment?: unknown;

  /**
   * Any origination fees for the loan.
   */
  originationFee?: unknown;

  /**
   * Repayment term in months (if applicable).
   */
  repaymentTermMonths?: unknown;

  /**
   * URL to the full terms and conditions of the loan offer.
   */
  termsAndConditionsUrl?: unknown;

  /**
   * Total amount repayable over the loan term.
   */
  totalRepayable?: unknown;
}

export interface OfferListPreApprovedResponse {
  /**
   * The maximum number of items returned in the current page.
   */
  limit: unknown;

  /**
   * The number of items skipped before the current page.
   */
  offset: unknown;

  /**
   * The total number of items available across all pages.
   */
  total: unknown;

  data?: Array<LoanOffer>;

  /**
   * The offset for the next page of results, if available. Null if no more pages.
   */
  nextOffset?: unknown;
}

export interface OfferListPreApprovedParams {
  /**
   * Maximum number of items to return in a single page.
   */
  limit?: unknown;

  /**
   * Number of items to skip before starting to collect the result set.
   */
  offset?: unknown;
}

export declare namespace Offers {
  export {
    type LoanOffer as LoanOffer,
    type OfferListPreApprovedResponse as OfferListPreApprovedResponse,
    type OfferListPreApprovedParams as OfferListPreApprovedParams,
  };
}
