// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Offers extends APIResource {
  /**
   * Retrieves a list of personalized, pre-approved loan offers generated by the AI
   * based on the user's financial profile and credit health.
   *
   * @example
   * ```ts
   * const loanOffers =
   *   await client.lending.offers.listPreApproved();
   * ```
   */
  listPreApproved(options?: RequestOptions): APIPromise<OfferListPreApprovedResponse> {
    return this._client.get('/lending/offers/pre-approved', options);
  }
}

export interface LoanOffer {
  /**
   * The principal amount of the loan offered.
   */
  amount: number;

  /**
   * Date the offer expires.
   */
  expirationDate: string;

  /**
   * Annual interest rate offered.
   */
  interestRate: number;

  /**
   * True if this is a pre-approved offer, false if from an application.
   */
  isPreApproved: boolean;

  /**
   * Unique identifier for the loan offer.
   */
  offerId: string;

  /**
   * Type of loan offered.
   */
  offerType: 'personal_loan' | 'credit_line' | 'mortgage' | 'auto_loan' | 'microloan';

  /**
   * AI's score for how well this offer matches the user's financial profile and
   * needs.
   */
  aiPersonalizationScore?: number | null;

  /**
   * Estimated monthly payment (if applicable).
   */
  monthlyPayment?: number | null;

  /**
   * Any one-time origination fee.
   */
  originationFee?: number | null;

  /**
   * Repayment term in months (if applicable).
   */
  repaymentTermMonths?: number | null;

  /**
   * Total amount repayable over the life of the loan.
   */
  totalRepayable?: number | null;
}

export type OfferListPreApprovedResponse = Array<LoanOffer>;

export declare namespace Offers {
  export { type LoanOffer as LoanOffer, type OfferListPreApprovedResponse as OfferListPreApprovedResponse };
}
